

<h1>Books</h1>

<table class="table table-bordered table-striped">
  <tr *ngFor="let book of books">
    <td>{{ book.name }}</td>
    <td>
      <a routerLink="" (click)="delete(book)" class="btn btn-default">Delete</a>
    </td>
  </tr>
</table>
